# Python
*.pyc
__pycache__/
.venv/
*.egg-info/
dist/
build/
*.egg

# Flask
instance/
.env
.env.*


# Flask-Migrate
migrations/

# SQLite database files
*.db
*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store